@use 'app/styles/vars' as *;
@use 'app/styles/mixins' as *;

.productDetails {
  @include modalWrapper;
  display: flex;
}

.img {
  width: calc(100vw * 0.5);
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1rem;
}

.name,
.category {
  color: var(--text-primary-color);
  margin: 0px;
}

.description {
  color: var(--text-secondary-color);
  margin: 0px;
  font-size: 13px;
}

.price {
  color: $blue-color;
}
