@use 'app/styles/vars' as *;

.header {
  display: flex;
  align-items: center;
  height: $headerHeight;
  background-color: var(--header-bg);
  box-shadow: 2px 2px rgba(43, 52, 69, 0.1);
  padding: 0 30px;
  gap: 60px;

  .logo {
    flex-shrink: 0;
  }

  .nav {
    flex: 1;
    color: var(--text-primary-color);
  }

  .toolbar {
    flex-shrink: 0;
    display: flex;
    gap: 15px;
  }
}
