@use 'app/styles/vars' as *;
@use 'app/styles/mixins' as *;

.cardProduct {
  @include modalWrapper;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 1rem;
}

.name {
  color: var(--text-primary-color);
  margin: 0px;
}

.description {
  color: var(--text-secondary-color);
  margin: 0px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.purchaseContent {
  color: $blue-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
