@use 'app/styles/vars' as *;

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 36px;
}

.hiddenList {
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: -10000px;
  left: 0;
  width: 100%;
  z-index: -1;
}
